<section ng-controller="rootFolderCtrl">
	<header id="navbar">
		<div class="path-container">
			<span class="path" ng-repeat="folder in path" ng-bind="folder.name" ng-click="go(folder, $index)"></span>
		</div>
		<button class="btn back-path" ng-click="back()"></button>
		<button class="btn next-path" ng-click="next()"></button>
	</header>
	
	<section id="object-list-container">
		<div class="item" ng-repeat="item in currentFolder.referenceList" style="background-image: url({{item.image}}), url(images/{{item.type == 'link' ? 'link.svg' : 'folder.svg'}}); background-color: {{item.color}}">
			<div class="item-type" style="background-image: url(images/{{item.type == 'link' ? 'link.svg' : 'folder.svg'}})"></div>
			<span class="item-name" ng-bind="item.name" ng-click="itemAction(item, $index)" ondbclick="alert(9)"></span>
			<div class="btn-item-edit" ng-click="editItem(item)"></div>
		</div>
		<div ng-hide="currentFolder.referenceList.length" style="margin: 0; padding: 0; position: fixed; top: 0; left: 0; width: 100vw; height: 100vh; display: flex; justify-content: center; align-items: center;">
			Aqui está vazio...
		</div>
	</section>
	
	<div ng-show="newItemContainerVisible || editItemContainerVisible" style="background: #00000088; width: 100vw; height: 100vh; position: fixed; top: 0; left: 0; z-index: 0"></div>
	
	<!--Mostrar ou Esconder a section #edit-item-container-->
	<button type="button" class="btn-float" ng-click="editItemContainerVisible = !editItemContainerVisible" ng-show="editItemContainerVisible"></button>
	
	<section id="edit-item-container" ng-if="editItemContainerVisible">
	    <form name="editItemForm">
	        <h3>Editar {{editItemData.name}}</h3>
			<select class="width-fill btn" id="selectTypeEditField" ng-required ng-model="editItemData.type">
				<option value="link" selected>Link</option>
				<option value="folder">Folder</option>
			</select>
			<div class="field-container">
				<label class="top-tab" for="nameEditField">NOME</label>
				<input id="nameEditField" class="width-fill" type="text" ng-model="editItemData.name"/>
			</div>
			<div class="field-container" ng-show="newItemData.type == 'link'">
				<label class="top-tab" for="urlEditField">URL</label>
				<input id="urlEditField" class="width-fill" type="text" ng-model="editItemData.url"/>
			</div>
			<div class="field-container">
				<label class="top-tab" for="descriptionEditField">DESCRIÇÃO</label>
				<textarea id="descriptionEditField" class="width-fill" ng-model="editItemData.description"></textarea>
			</div>
			<div class="field-container">
				<label class="top-tab" for="colorEditField">COR</label>
				<input id="colorEditField" type="color" class="width-fill" ng-model="editItemData.color"/>
			</div>
			<div class="field-container">
				<label class="top-tab" for="imageEditField">URL DA IMAGEM</label>
				<input id="imageEditField" type="text" class="width-fill" ng-model="editItemData.image"/>
			</div>
			
			<button class="btn width-fill" type="button" ng-click="saveEditItem()">Salvar</button>
			<button class="btn width-fill" type="button" ng-click="deleteEditItem()">Apagar</button>
		</form>
	</section>
	
	<!--Mostrar ou Esconder a section #new-item-container-->
	<button type="button" class="btn-float" ng-click="newItemContainerVisible = !newItemContainerVisible" ng-show="!editItemContainerVisible"></button>
	
	<section id="new-item-container" ng-if="newItemContainerVisible">
		<form name="newItemForm">
		    <h3>Criar</h3>
			<select class="width-fill btn" id="selectTypeField" ng-required ng-model="newItemData.type">
				<option value="link" selected>Link</option>
				<option value="folder">Folder</option>
			</select>
			<div class="field-container">
				<label class="top-tab" for="nameField">NOME</label>
				<input id="nameField" class="width-fill" type="text" ng-model="newItemData.name"/>
			</div>
			<div class="field-container" ng-show="newItemData.type == 'link'">
				<label class="top-tab" for="urlField">URL</label>
				<input id="urlField" class="width-fill" type="text" ng-model="newItemData.url"/>
			</div>
			<div class="field-container">
				<label class="top-tab" for="descriptionField">DESCRIÇÃO</label>
				<textarea id="descriptionField" class="width-fill" ng-model="newItemData.description"></textarea>
			</div>
			<div class="field-container">
				<label class="top-tab" for="colorField">COR</label>
				<input id="colorField" type="color" class="width-fill" ng-model="newItemData.color"/>
			</div>
			<div class="field-container">
				<label class="top-tab" for="imageField">URL DA IMAGEM</label>
				<input id="imageField" type="text" class="width-fill" ng-model="newItemData.image"/>
			</div>
			
			<button class="btn width-fill" type="button" ng-click="addItem(newItemData)">Salvar</button>
		</form>
	</section>
</section>