<section ng-controller="rootFolderCtrl">
	<section class="object-list">
		<div class="item" ng-repeat="item in currentFolder" style="background-image: url({{item.image}}), url(images/{{item.type == 'link' ? 'link.svg' : 'folder.svg'}}); background-color: {{item.color}}">
			<div class="item-type" style="background-image: url(images/{{item.type == 'link' ? 'link.svg' : 'folder.svg'}})"></div>
			<span class="item-name" ng-bind="item.name" ng-click="itemAction(item, $index)"></span>
		</div>
	</section>
</section>