body {
	position: relative;
	box-sizing: border-box;
	height: 100vh;
	margin: 0 10px;
	padding-top: 0;
}

input {
	border: 1px solid #666;
	border-radius: 0 5px 5px 5px;
	padding: 4px;
}

button, select {
	padding: 8px;
}

#object-list-container {
	position: relative;
	box-sizing: border-box;
}

.item {
	height: 100px;
	position: relative;
	display: flex;
	align-items: center;
	align-content: center;
	gap: 0.5ch;
	padding: 10px 5px;
	background-color: #eee;
	border: 1px solid #888;
	border-radius: 8px;
	margin: 2px 0;
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: right 0 bottom 0;
	overflow: hidden;
}

.item-type {
	display: inline-block;
	border: 1px solid #888;
	border-radius: 3px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	width: 1rem;
	height: 1rem;
	flex-shrink: 0;
}

.item-name {
	display: flex;
	flex-grow: 1;
	background-color: #ffffff88;
	color: #222;
	overflow: scroll;
	height: 100%;
	align-items: center;
	border-radius: 8px;
}

.btn-item-edit {
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    width: 1.5rem;
    height: 1.5rem;
}

#navbar {
	box-sizing: border-box;
	position: sticky;
	top: 0;
	z-index: 1;
	background-color: #eee;
	border: 1px solid black;
	border-radius: 10px 30px 10px 30px;
	padding: 7px;
}

.path-container {
    display: flex;
    overflow: scroll;
    margin-bottom: 2.5px;
}

.path {
	display: inline-block;
	box-sizing: border-box;
	font-size: 16px;
}

.path:after {
	content: "/";
	color: #444;
}

.path:last-of-type {
	background-color: #eee;
	border: 1px solid #000;
	border-radius: 3px;
	padding: 0 0.1ch;
}

.path:last-of-type:after {
	content: "";
}

.back-path, .next-path {
    background-size: 100% 100%;
    width: 48px;
    height: 24px;
}

.back-path {
    border-radius: 10px 0 0 30px !important;
    background-image: url("../images/back.svg");
}

.next-path {
    border-radius: 0 30px 10px 0 !important;
    background-image: url("../images/next.svg");
}

.btn {
	background-color: #ccc;
	border-radius: 3px;
	border: 1px solid black;
	display: inline-flex;
	justify-content: center;
	item-align: center;
}

#new-item-container, #edit-item-container {
	z-index: 2;
	box-sizing: border-box;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100vw;
	background-color: #eee;
	padding: 15px;
	border-radius: 30px 30px 0 0;
	border-top: 1px solid #aaa;
	min-height: 50vh;
	max-height: 90vh;
	overflow: scroll;
}

.field-container {
	margin: 10px 0;
}

.top-tab {
    display: inline-block;
	border: 1px solid #666;
	border-radius: 5px 50px 0 0;
	padding: 2px;
	padding-right: 10px;
}

.width-fill {
	width: 100%;
}

.btn-float {
	position: fixed;
	right: 10px;
	bottom: 10px;
	z-index: 3;
	background-color: #eee;
	border: 1px solid black;
	border-radius: 100%;
	width: 45px;
	height: 45px;
}